
.myPosts{
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 10px;
}
.addPost{
    margin-bottom: 10px;
    display: flex;
    /*flex-direction: column;*/
    gap: 10px;
    align-items: flex-end;
}

textarea{
    min-height: 80px;
    min-width: 40%;
    padding: 10px;
}
textarea::placeholder{
    opacity: 0.5;
}

button{
    font-size: 12px;
    padding: 2px;
}
.posts{
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid lightsteelblue;
}