.container {
    display: flex;
}

/*Для нормального відображення img потрібно правити стилі в ProfileInfo, і зняти їх із App.css*/

.userAvatar {
  width: 150px;
  height: 150px;

}

.avatarBlock {
    display: flex;
    flex-direction: column;
}

.textBlock {
    display: flex;

}

/*button {*/
/*    background-color: #545454;*/
/*    color: white;*/
/*}*/


