.dialogs {
    color: black;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    /*background-color: #6fa4cc;*/
    padding: 10px 15px;
    background-color: #545454;
}



.messagesItems {
    background-color: rgb(234, 233, 233);
    padding: 10px 15px;
}




